#img {   
    height: 400 px;  
    /*color: #fff;background-image: url("../../assets/images/pelota.jpg");  */
    /*background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../../assets/images/pelota.jpg");  */
    background-size: 100% ;  
    background-size: cover;  
    background-attachment: fixed;
    background-position: center; 
} 